h1{
  
  text-align: center;
  color: blue;
}

body{
  
  background-color: white;
}

.navbar{
 
  background-color: tan;
  overflow: hidden;
  display: block;
  top: 10;
 
}

.navbar a{
  
  text-decoration: none;
  color: black;
  float: right;
  padding: 10px 44px;
  font-size: 20px;
  
}

.navbar a:hover {
  background-color: green;
}

